<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Template</title>
    <script>
        (function() {
            const darkMode = localStorage.getItem('darkMode') === 'true';
            if (darkMode) {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        })();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="no-transition">
    <nav class="side-nav">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="iTuneUp Logo" class="logo">
            <h3>iTuneUp</h3>
        </div>
        <ul class="nav-links">
            <li class="{% if active_page == 'Home' %}active{% endif %}">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/home.png') }}">
                    Home
                </a>
            </li>
            <li class="{% if active_page == 'Library' %}active{% endif %}">
                <a href="{{ url_for('library') }}">
                    <img src="{{ url_for('static', filename='images/library.png') }}">
                    Library
                </a>
            </li>
            <li class="{% if active_page == 'Settings' %}active{% endif %}">
                <a href="{{ url_for('settings') }}">
                    <img src="{{ url_for('static', filename='images/settings.png') }}">
                    Settings
                </a>
            </li>
        </ul>
        <div class="footer">
            <p>&copy; 2025 Amine Mustapha Rachid</p>
            <p id="license">Licensed under the MIT license</p>
        </div>
    </nav>
    <div class="content">

        {% block content %}

        {% endblock %}

    </div>

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            <div class="flash-overlay" id="flashOverlay">
                <div class="flash-bubble">
                    <div class="flash-content">
                            
                        {% for message in messages %}

                            <p class="flash-message">{{ message }}</p>

                        {% endfor %}

                        <div class="flash-button-container">
                            <button class="flash-button" onclick="closeFlash()">OK</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
            
    {% endwith %}

    {% block scripts %}
    
    {% endblock %}

</body>
</html>